/**
 * Variables
 * ==========
 *
 */
:root {
    /* Colors */
    --color-background: rgb(244, 242, 241);
    --color-background-invert: #847f7f;
    --color-background-content: #fff;
    --color-text: #353333;
    --color-text-invert: #fff;
    --color-text-highlight: rgb(255 241 189);
    --color-link: #bc4ea5;
    --color-link-highlight: #01bfc2;

    /* Theme */
    --drop-shadow-level-1: 0px 3px 4px rgba(0,0,0, 0.1);
    --drop-shadow-level-2: 0px 5px 10px -2px rgba(0,0,0,0.1);
    --border-radius: 2px;
}