/* Variables
  ========== */

:root {
    /* Sizing */
    --content-padding-vertical: 30px;
    --content-padding-horizontal: 50px;
    /* Typography */
    --font-size-title: 140px;
    --font-size-smallcap: 42px;
    --font-size-subhead: 24px;
    --font-size-subhead-2: 18px;
    --font-size-content: 21px;
    --font-size-small: 14px;
    --line-height-content: 1.7;

    /* Colors */
    --color-background: rgb(244, 242, 241);
    --color-background-invert: #353333;
    --color-background-content: #fff;
    --color-text: #353333;
    --color-text-invert: #fff;
    --color-text-highlight: rgb(255 241 189);
    --color-link-border: #4d8b6e;
    --color-link: #bc4ea5;
    --color-link-highlight: #01bfc2;
    --color-theme-1: #709d88;
    --color-theme-2: #506788;
    --color-theme-3: #cc5f5c;
    --color-theme-4: #d5a053;

    /* Theme */
    --drop-shadow-level-1: 0px 3px 4px rgba(0,0,0, 0.1);
    --drop-shadow-level-2: 0px 5px 10px -2px rgba(0,0,0,0.1);
    --border-radius: 2px;

    /* Matter.js */
    --content-width: 720px;
    --content-height: 140vh;
    --heading-line-1-y: 150px;
    --heading-line-2-y: 280px;
    --heading-line-3-y: 500px;
    --heading-line-4-y: 550px;
    --heading-line-5-y: 600px;
    --heading-offset: 40vw;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    color: var(--color-text);
    background-color: var(--color-background);
}

#debug {
    position: fixed !important;
    top: 0;
    left: 0;
}

/* Matter.js
  =========*/

.matter-canvas {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
}

[data-matter-block] {
    position: absolute;
}

#ground {
    position: absolute;
    /*outline: 1px solid red;*/
    box-sizing: border-box;
    width: var( --content-width);
    height: var( --content-height);
}

.matter-reloader {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
    align-items: center;
    justify-content: center;
}

.reloader-visible .matter-reloader {
    display: flex;
}

/* Headline
  ========= */
.heading {
    margin: 0;
    padding: 0;
}

.heading span {
    display: block;
    will-change: transform;
    font-family: "Major Mono Display";
    font-size: var(--font-size-title);
    font-weight: 200;
    line-height: var(--line-height-heading);
    height: 95px;
    text-shadow: var(--drop-shadow-level-1);
}

.heading .jan {
    text-transform: uppercase;
    transform:translate( calc( var(--heading-offset) + var(--n) ), var( --heading-line-1-y ) );
}

.heading .drewniak {
    text-transform: uppercase;
    transform:translate( calc( var(--heading-offset) + var(--n) ), var( --heading-line-2-y ) );
}

.heading .tagline {
    font-family: "Operator Mono";
    font-weight:200;
    font-size: var(--font-size-subhead);
    height: 30px;
    line-height: 1;
    transform:translate( calc(var(--heading-offset) + var(--n) ), var( --heading-line-3-y ) )
}

.heading .tagline.line-2, .heading .tagline.line-3 {
    font-size: var(--font-size-subhead-2);
}

.heading .tagline.line-2 {
    font-style: italic;
    transform:translate( calc(var(--heading-offset) + var(--n) ), var( --heading-line-4-y ) )
}

.heading .tagline.line-3 {
    font-style: italic;
    transform:translate( calc(var(--heading-offset) + var(--n) ), var( --heading-line-5-y ) )
}

/* Content
  ======== */
.content {
    position: relative;
    transform: translate(0, 70vh);
    width: var( --content-width);
    height: var( --content-height);
    margin: 0 auto;
    font-family: "Operator Mono";
    line-height: 1.7;
    font-size: var(--font-size-content);
    z-index: 1;
    background-color: var(--color-background);
}

.content-padding {
    padding: var(--content-padding-vertical) var(--content-padding-horizontal);
    border-radius: var(--border-radius);
    box-shadow: var(--drop-shadow-level-2);
    background-color: var(--color-background-content);
}

.small-cap {
    position: absolute;
    top: -60px;
    left: max( -8vw, calc( -1 * var(--content-padding-horizontal) - 20px ) );
    background-color: var(--color-background-invert);
    color: var(--color-text-invert);
    font-size: var(--font-size-smallcap);
    font-weight: bold;
    width: 1.5em;
    height: 1.5em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.content p {
    position: relative;
}

.content mark {
    background-color: var(--color-text-highlight);
}

/* Content links
  ============== */

.content p a {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cg stroke='none' fill='none'%3E%3Cg stroke='%2300D3D5' stroke-width='1'%3E%3Cpath d='M0,13.8706934 C1.1045695,13.8706934 2,14.4353467 2,14.4353467 C2,14.4353467 2.8954305,15 4,15 C5.1045695,15 6,14.4353467 6,14.4353467 C6,14.4353467 6.8954305,13.8706934 8,13.8706934 C9.1045695,13.8706934 10,14.4353467 10,14.4353467 C10,14.4353467 10.8954305,15 12,15 C13.1045695,15 14,14.4353467 14,14.4353467 C14,14.4353467 14.8954305,13.8706934 16,13.8706934'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: repeat-x;
    background-size: auto 100%;
    background-position: bottom;
    text-shadow: 0.05em 1px 0 white, -0.05em 1px 0 white;
    text-decoration: none;
    padding-bottom: 3px;
}

.content p a,
.content p a:visited {
    color: var(--color-link);
}

.content p a:hover {
    animation-name: movebg;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    color: var(--color-link-highlight);
}

@keyframes movebg {
    0% {
        background-position:  0 90%;
    }
    100% {
        background-position:  100% 90%;
    }
}

/* Pronounciation button
   ===================== */
#pronounce-button {
    position: relative;
    border: none;
    cursor: pointer;
    width: 1.5em;
    height: 1.5em;
    padding: 0;
    background: none;
}

#pronounce-button:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-3px, 4px);
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 0;
}

#pronounce-button:hover .play {
    transform: translate(2px, -2px);
}

#pronounce-button:hover:after {
    transform: translate(-3px, 4px);
}

#pronounce-indicator.play {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: inline-block;
    border: 1px solid #333;
    background: #ffe2e2 url(../../images/Speaker_Icon.svg );
    background-size:70%;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: text-bottom;
  }

  #pronounce-indicator.pause {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: inline-block;
    border: 1px solid #333;
    transform: translate(2px, -2px);
    background: #ffe2e2 url(../../images/Pause_icon.svg );
    background-size:70%;
    background-repeat: no-repeat;
    background-position: center;
  }

.wikipedia-icon {
    background-image: url(../../images/wikipedia-icon.svg);
    background-size: 100%;
    width: 1.3em;
    height: 1.3em;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: sub;
}

/* Starburst
  ========== */
.starburst {
    display: flex;
    float: right;
    margin-right: -8vw;
    width: 150px;
    height: 150px;
    font-size: var(--font-size-small);
    line-height: 1.2;
    clip-path: polygon(100.00% 50.00%,94.67% 55.42%,98.55% 61.97%,92.08% 65.96%,94.27% 73.24%,87.03% 75.56%,87.43% 83.16%,79.84% 83.68%,78.40% 91.15%,70.91% 89.85%,67.73% 96.75%,60.77% 93.69%,56.03% 99.64%,50.00% 95.00%,43.97% 99.64%,39.23% 93.69%,32.27% 96.75%,29.09% 89.85%,21.60% 91.15%,20.16% 83.68%,12.57% 83.16%,12.97% 75.56%,5.73% 73.24%,7.92% 65.96%,1.45% 61.97%,5.33% 55.42%,0.00% 50.00%,5.33% 44.58%,1.45% 38.03%,7.92% 34.04%,5.73% 26.76%,12.97% 24.44%,12.57% 16.84%,20.16% 16.32%,21.60% 8.85%,29.09% 10.15%,32.27% 3.25%,39.23% 6.31%,43.97% 0.36%,50.00% 5.00%,56.03% 0.36%,60.77% 6.31%,67.73% 3.25%,70.91% 10.15%,78.40% 8.85%,79.84% 16.32%,87.43% 16.84%,87.03% 24.44%,94.27% 26.76%,92.08% 34.04%,98.55% 38.03%,94.67% 44.58%);
    background-color: var(--color-text-highlight);
    align-items: center;
    padding: 3%;
    box-sizing: border-box;
    text-align: center;
}

.content .starburst a,
.content .starburst a:visited {
    border: none;
    text-decoration: none;
    box-shadow: none;
    text-shadow: none;
    background: none;
    font-weight: bold;
}

/* Portrait image
  =============== */
.portrait {
    background-size: 300px auto;
    background-image: url(../../images/pxArt.png);
    height: 170px;
    width: 140px;
    background-repeat: no-repeat;
    background-position: -80px 0px;
    filter: contrast(1.2) brightness(1.2);
    position: relative;
    left: calc( -1 * var(--content-padding-horizontal) );
    bottom: calc( -1 * var(--content-padding-vertical) );
    opacity: 0.6;
}

/* Button links
  ============= */
ul.button-links {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style: none;
    float: right;
    margin-top: 20px;
    margin-right: calc( -1 * var(--content-padding-horizontal) + -2vw );
    text-align: right;
}

ul.button-links .button-link {
    display: inline-block;
    border: 0;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
    background-color: var(--color-link);
    color: var(--color-text-highlight);
    cursor: pointer;
}
/* Mobile layout
  ============== */
@media screen and (max-width: 680px) {
    :root {
        --content-width: 90vw;
        --heading-offset: 30vw; /*50vw*/
        --font-size-content: 16px;
        --content-padding-vertical: 10px;
        --content-padding-horizontal: 30px;
    }
    .heading {
        min-width: 100%;
    }
    .heading span {
        font-size: 14vw;
    }
}